:root   {
    --color1 : #43114f;
    --color2 : #b41b6b;
    --color3 : #088aff;
    --color4 : #efdcf6;
    --color5 : #fffbf4;
}

* {
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: var(--color3);
}

nav ul {
    list-style: none;
}
nav a {
    display: block;
    color: var(--color1);
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
nav a hover {
    background-color: #7a007a30
}
nav .active {
    background-color: rgba(255, 255, 255, 0.383);
}

.menu {
    display: flex;
    flex-direction: column;
}
main {
    width: 80%;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: 100%;
}
.links {
    list-style: none;
}